container_commands:
  00killhttpd:
    command: "kill all httpd"
  00waitforhttpddeath:
    command: "sleep 3"
  01_migrate:
    command: "django-admin migrate --settings=myapp.config.settings.production"
    leader_only: true
  02_createsu:
    command: "django-admin createsu"
  03_collectstatic:
    command: "django-admin collectstatic --noinput"
  04_seed_ingredients:
    command: "django-admin loaddata myapp/products/fixtures/ingredients-data.json"
  05_seed_products:
    command: "django-admin loaddata myapp/products/fixtures/products-data-utf8.json"
  06_seed_users_small:
    command: "django-admin seed_users --number=10"
  07_seed_reviews_small:
    command: "django-admin seed_reviews --number=30"
  08_seed_users_many:
    command: "django-admin seed_users --number=100"
  09_seed_reviews_many:
    command: "django-admin seed_reviews --number=150"
  10_seed_comments:
    command: "django-admin seed_comments --number=150"

  
option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: myapp/config/wsgi.py
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: myapp.config.settings.production