container_commands:
  01_migrate:
    command: "django-admin migrate --settings=myapp.config.settings.production"
    leader_only: true
  02_createsu:
    command: "django-admin createsuperuser"
  03_collectstatic:
    command: "django-admin collectstatic --noinput"
option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: myapp/config/wsgi.py